<div class="map">
    <div class="wrapper">
        <div class="map__container">
            <div class="map__left">
                <div class="ymap map__map" data-x="55.234774" data-y="61.437345"></div>
            </div>

            <div class="map__right">

                <div class="map__info">
                    <div class="map__info-title">
                        Наш адрес
                    </div>
                    <div class="map__item map-marker" data-x="55.234774" data-y="61.437345">
                        <div class="map__icon">
                            {{Icon iconName="marker"}}
                        </div>
                        <span>
                            г. Алматы, ул. Тимирязева,42, павильон 17
                        </span>
                    </div>
                    <div class="map__item">
                        <div class="map__icon">
                            {{Icon iconName="map-phone"}}
                        </div>
                        <span>
                            Тел.: <a href="tel:+77272742222">+7 727 274 22 22</a>
                        </span>
                    </div>
                    <div class="map__item">
                        <div class="map__icon">
                            {{Icon iconName="map-fax"}}
                        </div>
                        <span>
                            Факс: <a href="fax:+77272265034">+7 727 226 50 34</a>
                        </span>
                    </div>
                    <div class="map__item">
                        <div class="map__icon">
                            {{Icon iconName="map-email"}}
                        </div>
                        <span>
                            E-mail: <a href="mailto:box@t-sh-e.com">box@t-sh-e.com</a>
                        </span>
                    </div>
                </div>

                <div class="map__info">
                    <div class="map__info-title">
                        офис в актюбинске

                    </div>
                    <div class="map__item map-marker" data-x="52.234774" data-y="61.437345">
                        <div class="map__icon">
                            {{Icon iconName="marker"}}
                        </div>
                        <span>
                                г. Актобе, ул. М.Оспанова 52, корпус 2, офис 23
                        </span>
                    </div>
                    <div class="map__item">
                        <div class="map__icon">
                            {{Icon iconName="map-phone"}}
                        </div>
                        <span>
                                Тел.: <a href="tel:+77132518846">+7 7132 51 88 46</a>
                        </span>
                    </div>
                    <div class="map__item">
                        <div class="map__icon">
                            {{Icon iconName="map-fax"}}
                        </div>
                        <span>
                                Факс: <a href="fax:+77132554414">+7 7132 55 44 14</a>
                        </span>
                    </div>
                    <div class="map__item">
                        <div class="map__icon">
                            {{Icon iconName="map-email"}}
                        </div>
                        <span>
                                E-mail: <a href="mailto:aktobe@t-sh-e.com">aktobe@t-sh-e.com</a>
                        </span>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>