<div class="sidebar__container sticky-block">
    <div class="sidebar__logo">
        <img src="%=static=%img/content/sidebar-logo.png" alt="">
    </div>
    <div class="sidebar__menu">

        <a href="index.html" class="active">Главная</a>
        <a href="index.html">Услуги и решения</a>
        <a href="index.html">Производство</a>
        <a href="index.html">Оборудование</a>
        <a href="index.html">Партнеры</a>
        <a href="index.html">Проекты</a>
        <a href="index.html">Заказчики</a>
        <a href="index.html">Контакты</a>
        
    </div>
    
    <div class="sidebar__bottom">
        <div class="sidebar__social">
            <a href="#" class="sidebar__icon">
                {{Icon iconName="yt"}}
            </a>
            <a href="#" class="sidebar__icon">
                {{Icon iconName="fb"}}
            </a>
        </div>

        <a href="#" class="sidebar__politic">
            Политика конфеденциальности
        </a>

        <div class="sidebar__copy">
            2019 ТОО “Тянь-Шань Engineering”
        </div>
        
    </div>
    
</div>