<div class="sidebar__container sticky-block">
    <a href="index.html" class="sidebar__logo">
        {{> logo/logo}}
            
    </a>
    <div class="sidebar__menu">

        <a class="sidebar__menu-link active" href="index.html"><span>Главная</span></a>
        <div class="sidebar__menu-link open-menu">
            <span>Услуги и решения</span>
            <div class="sidebar__sub-menu">
                <a class="sidebar__menu-link" href="serv-1.html">Создание проектно-сметной документации</a>
                <a class="sidebar__menu-link" href="serv-1.html">Поставка и монтаж оборудования</a>
                <a class="sidebar__menu-link" href="serv-1.html">Оптимальный выбор оборудования</a>
                <a class="sidebar__menu-link" href="serv-1.html">Пуско-наладочные работы</a>
                <a class="sidebar__menu-link" href="serv-1.html">Метрологическое обеспечение</a>
                <a class="sidebar__menu-link" href="serv-1.html">Последующее сервисное обслуживание</a>
            </div>
        </div>
        <a class="sidebar__menu-link" href="making.html"><span>Производство</span></a>
        <a class="sidebar__menu-link" href="rig.html"><span>Оборудование</span></a>
        <a class="sidebar__menu-link" href="partners.html"><span>Партнеры</span></a>
        <a class="sidebar__menu-link" href="projects.html"><span>Проекты</span></a>
        <a class="sidebar__menu-link" href="customers.html"><span>Заказчики</span></a>
        <a class="sidebar__menu-link" href="contacts.html"><span>Контакты</span></a>
        
    </div>
    
    <div class="sidebar__bottom">
        <div class="sidebar__social">
            <a href="#" class="sidebar__icon">
                {{Icon iconName="yt"}}
            </a>
            <a href="#" class="sidebar__icon">
                {{Icon iconName="fb"}}
            </a>
            <a href="#" class="sidebar__icon">
                {{Icon iconName="in"}}
            </a>
        </div>

        <a href="#" class="sidebar__politic">
            Политика конфеденциальности
        </a>

        <div class="sidebar__copy">
            2019 ТОО “Тянь-Шань Engineering”
        </div>
        
    </div>
    
</div>

