<div class="overlay"></div>

<div class="callPopup trigger-form-consult" data-popupBlock="form-consult"></div>
<div class="popup form-consult ">
    <a href="index.html" class="sidebar__logo">
        <img src="%=static=%img/content/sidebar-logo.png" alt="">
    </a>
    <div class="popup__content-container">
        <div class="popup__content">
            <div class="popup__title">
                Заполните форму ниже <br>
                и наш менеджер свяжется <br>
                с Вами в ближайшие 30 минут
            </div>
        </div>
        <form action="#" class="popup__form">
            <input type="text" class="m-field" placeholder="Имя" name="name">
            <input type="text" class="m-field phone-mask" placeholder="Телефон" name="phone">
            <button class="m-button">
                ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
            </button>
        </form>
        <div class="popup__text">
            * Нажимая кнопку, я соглашаюсь <br>
            с <a href="#">политикой обработки персональных данных</a>
        </div>
    </div>
</div>

<div class="callPopup trigger-form-call" data-popupBlock="form-call"></div>
<div class="popup form-call ">
    <a href="index.html" class="sidebar__logo">
        <img src="%=static=%img/content/sidebar-logo.png" alt="">
    </a>
    <div class="popup__content-container">
        <div class="popup__content">
            <div class="popup__title">
                Заполните форму ниже <br>
                и наш менеджер свяжется <br>
                с Вами в ближайшие 30 минут
            </div>
        </div>
        <form action="#" class="popup__form">
            <input type="text" class="m-field" placeholder="Имя" name="name">
            <input type="text" class="m-field phone-mask" placeholder="Телефон" name="phone">
            <button class="m-button">
                ЗАКАЗАТЬ ЗВОНОК
            </button>
        </form>
        <div class="popup__text">
            * Нажимая кнопку, я соглашаюсь <br>
            с <a href="#">политикой обработки персональных данных</a>
        </div>
    </div>
</div>

<div class="callPopup trigger-thanx-popup" data-popupBlock="thanx-popup"></div>
<div class="popup thanx-popup ">
    <a href="index.html" class="sidebar__logo">
        <img src="%=static=%img/content/sidebar-logo.png" alt="">
    </a>
    <div class="popup__content-container">
        <div class="popup__content">
            <div class="popup-icon-ok">
                {{Icon iconName="popup-ok"}}
            </div>
        </div>
        <div class="popup__title">
            Спасибо!
        </div>
        <div class="popup__text mt20 mb40">
            Ваша заявка принята, <br>
            скоро мы Вам перезвоним
        </div>
        <div class="m-button popupClose">закрыть окно</div>
    </div>
</div>

<div class="callPopup trigger-subs-popup" data-popupBlock="subs-popup"></div>
<div class="popup subs-popup">
    <a href="index.html" class="sidebar__logo">
        <img src="%=static=%img/content/sidebar-logo.png" alt="">
    </a>
    <div class="popup__content-container">
        <div class="popup__content">
            <div class="popup-icon-ok">
                {{Icon iconName="popup-ok"}}
            </div>
        </div>
        <div class="popup__title mb30">
            Подписка оформлена
        </div>
        <div class="m-button popupClose mb10">закрыть окно</div>
        <div class="popup__text mt10">
            <a href="#">Отменить подписку</a>
        </div>
    </div>
</div>

<div class="callPopup trigger-popup-lic" data-popupBlock="popup-lic"></div>
<div class="popup popup-lic ">
    <div class="popup-lic__img m-bg-cont">
        <img src="" alt="">
    </div>
    <div class="popup-lic__title">
        
    </div>
    <div class="popup-lic__back popupClose">
        {{Icon iconName="arrow-back"}}
            Назад
    </div>
</div>

<div class="callPopup trigger-popup-search" data-popupBlock="popup-searc"></div>
<div class="popup popup-search">
    <form action="#" class="popup-search__form">
        <button class="popup-search__button">
            {{Icon iconName="popup-lupa"}}
        </button>
        <div class="popup-search__close popupClose">
            {{Icon iconName="close"}}
        </div>
        <input type="text" name="number" class="popup-search__input" placeholder="Поиск">
        <div class="popup-search__content">
            
            <label class="m-radio">
                <input type="radio" name="radio1" checked>
                <div class="popup-search__text">
                        Искать везде
                </div>
            </label>

            <label class="m-radio">
                <input type="radio" name="radio1">
                <div class="popup-search__text">
                        Искать в “Производство”
                </div>
            </label>

            <label class="m-radio">
                <input type="radio" name="radio1">
                <div class="popup-search__text">
                        Искать в “Оборудование”
                </div>
            </label>

            <label class="m-radio">
                <input type="radio" name="radio1">
                <div class="popup-search__text">
                        Искать в “Проекты”
                </div>
            </label>

            <label class="m-radio">
                <input type="radio" name="radio1">
                <div class="popup-search__text">
                        Искать в “Услуги и решения”
                </div>
            </label>
        </div>
    </form>
</div>
