<div class="prj__item">
    <div class="prj__item-img m-bg-cont">
        <img src="%=static=%img/content/serv-img-3.jpg" alt="">
    </div>
    
    <div class="prj__item-block prj__item-block-desc">
        <div class="prj__item-left">
            Отрасль :
        </div>
        <div class="prj__item-text prj__item-block-title">
                Нефтегазовая отрасль
        </div>
    </div>
    
    <div class="prj__item-block">
        <div class="prj__item-left">
            Проект:  
        </div>
        <div class="prj__item-text">
            Тенгизшевройл, проект: Сброс нагрузки на подстанции-2 ЗВП
            <a href="#" class="prj__item-link">{{Icon iconName="prj-arrow"}} Подробнее</a>
        </div>
    </div>

    <div class="prj__pre"></div>
</div>