{{> preload/preload}}
<div class="header header-2">
    <div class="wrapper">
        <div class="header__container">
            <a href="#" class="header__logo">
                {{> logo/logo}}
            </a>

            <div class="header__menu-container">
                
                <div class="header__menu-open">
                    {{Icon iconName="menu-header"}}
                </div>

                <div class="header__menu">
                    <a href="faq.html">Частые вопросы</a>
                    <a href="reviews.html">Отзывы</a>
                    <a href="docs.html">Документация</a>
                    <a href="test.html">Опросные листы  </a>
                    <a href="press.html">Пресс-центр</a>
                    <a href="about.html">О нас</a>
                </div>
            </div>

            <div class="header__search header-search callPopup" data-popupBlock="popup-search">
                {{Icon iconName="lupa"}}
            </div>

            <div class="header__lang">
                <div class="header__lang-button">EN</div>
                <div class="header__lang-button active">RU</div>
            </div>

            <a href="tel:+77272742222" class="header__phone">
                <div class="header__phone-button">
                    {{Icon iconName="phone"}}
                </div>
                <span>+7 (727) 274 22 22</span>
            </a>

            <div class="sidebar-open">
                {{Icon iconName="menu"}}
            </div>
            
        </div>
    </div>
</div>