<div class="header header-2">
    <div class="wrapper">
        <div class="header__container">
    
            <div class="header__menu">
                <a href="faq.html">Частые вопросы</a>
                <a href="reviews.html">Отзывы</a>
                <a href="docs.html">Документация</a>
                <a href="test.html">Опросные листы  </a>
                <a href="press.html">Пресс-центр</a>
                <a href="about.html">О нас</a>
            </div>
    
            <div class="header__search header-search">
                {{Icon iconName="lupa"}}
            </div>

            <div class="header__lang">
                <div class="header__lang-button">EN</div>
                <div class="header__lang-button active">RU</div>
            </div>

            <a href="tel:+77272742222" class="header__phone">
                <div class="header__phone-button">
                    {{Icon iconName="phone"}}
                </div>
                <span>+7 (727) 274 22 22</span>
            </a>
            
        </div>
    </div>
</div>