<div class="m-form__container">
    <form action="#" class="m-form form-serv">
        <div class="m-form__title m-title-2">
                Не нашли подходящую услугу?
        </div>
        <div class="m-form__desc">
            Оставьте заявку на индивидуальное предложение!
        </div>
        <div class="m-form__fields">
            <input type="text" name="phone" class="phone-mask m-field mr15" placeholder="Номер телефона">
            <button class="m-button">Получить индивидуальное предложение</button>
        </div>
    </form>
</div>